<!DOCTYPE html>
<html>
<head>
	<title>Página de cadastro de produtos</title>
</head>
<body>
	<h1>Cadastro de produtos</h1>
	<div class="erros">
		<% if(errosValidacao) { %>
			<ul>
				<% for(var i=0; i<errosValidacao.length; i++) {%>
					<li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
				<%} %>
			</ul>
		<%} %>
	</div>
	<form action="/produtos" method="post">
		<div>
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" value="<%=produto.titulo%>" name="titulo" />
		</div>
		<div>
			<label for="preco">Preço</label>
			<input type="text" id="preco" value="<%=produto.preco%>" name="preco" />
		</div>
		<div>
			<label for="autor">Autor</label>
			<input type="text" id="autor" value="<%=produto.autor%>" name="autor" />
		</div>

		<input type="submit" value="Salvar" />

	</form>
</body>
</html>

